<a class="btn btn-large btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"
   href="resume.pdf?v=2">
  <i class="fa fa-file-code fa-lg"></i>&nbsp;Resume
</a>

<a class="btn btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="callto:2035780346">
  <i class="fas fa-phone fa-lg"></i>&nbsp; Call </a>

<a class="btn btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="mailto:vas.kaloidis@gmail.com">
  <i class="fas fa-envelope fa-lg"></i>&nbsp; Email
</a>

<a class="btn btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"
   href="http://www.linkedin.com/in/vaskaloidis">
  <i class="fa fa-linkedin fa-lg"></i>&nbsp; LinkedIn
</a>

<a class="btn btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"
   href="https://github.com/vaskaloidis">
  <i class="fa fa-github fa-lg"></i>&nbsp; GitHub
</a>

<!--<a class="btn btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="https://gist.github.com/vaskaloidis">-->
<!--  <i class="fa fa-github-alt fa-lg"></i>&nbsp; Gists </a>-->


<!--<a class="btn btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="https://bluehelmet.software">-->
<!--  <i class="fa fa-diamond fa-lg"></i>&nbsp; Blue Helmet Software </a>-->


<style>.bmc-button img {
  width: 27px !important;
  margin-bottom: 10px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  line-height: 36px !important;
  height: 37px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #ffffff !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 1px 9px !important;
  font-size: 19px !important;
  letter-spacing: 0.6px !important;;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: 'Cookie', cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #ffffff !important;
}</style>
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

<!--<a class="btn btn-success visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"-->
   <!--target="_blank" href="https://www.buymeacoffee.com/o1t2qdxuJ">-->
  <!--<img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a Coffee">-->
  <!--<span style="margin-left:5px">Buy me a Coffee</span>-->
<!--</a>-->


<!-- <button type="submit"
onclick="window.location='http://stackoverflow.com/users/2517480/vaskaloidis'"
class="btn btn-large btn-success"
href="http://stackoverflow.com/users/2517480/vaskaloidis">
				<i class="fa fa-stack-overflow fa-lg"></i>&nbsp; Stack Overflow
</button> -->
