


<div class="col-xs-12 col-sm-10 col-sm-offset-1">

  <div onclick="$('#modal_wellinks').modal();"
       class="projectHover panel panel-default center-block">
    <div class="panel-body">
      <div class="pull-right">
        <%# nothing %>
      </div>
      <div class="clearfix">
        <img src="/wellinks.png" class="img-responsive" style="max-height: 50px"/>
        <span class="label label-success">
            <i class="fa fa-diamond"></i>iOS
          </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <div style="overflow-y: scroll" class="modal fade project_modal" id="modal_wellinks"
       tabindex="-1" role="dialog" aria-labelledby="WellinksModal"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content padding-sm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="text-center">
            <img src="/wellinks.png" class="img-responsive" style="max-height: 50px"/>
          </h4>
        </div>
        <div>
          <div id="project_modal_body" class="modal-body project_modal_body">

            <p>At Wellinks, I led the development of the iOS application v1 and v2, as well as the Rails backend platform API.</p>

            <p>Wellinks is a COPD disease management company where COPD care is designed and delivered around the individual and supported by a team striving to help them live a healthier, more fulfilling life.</p>

            <p>The Wellinks mobile app assists COPD sufferers in 3 ways</p>

            <ul>
              <li><strong>Pulmonary Rehabilitation</strong> - Tailored exercises, education, and motivational support via the Wellinks Mobile app.</li>
              <li><strong>Personalized Coaching and Monitoring</strong> - Patients work with Wellinks health coaches, providing them with real-time data via the mobile app, to learn what works for them.</li>
              <li><strong>Connected Devices and Patient App</strong> - The mobile app tracks symptom progression, biometric data, member communication.</li>
            </ul>

            <center>
              <h3>Wellinks iOS App</h3>

              <h4>Screenshots</h4>

<br>
              <div class=""></div>
            </center>
            <div class="gallery">

              <a href="/image/wellinks/wellinks6.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks6.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks7.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks7.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks22.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks22.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks23.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks23.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks24.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks24.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks25.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks25.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/wellinks26.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks26.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks27.png" data-caption="Set and complete goals identified with a health coach">
                <img class="img-thumb" src="/image/wellinks/wellinks27.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/wellinks1.png" data-caption="Real-time patient chat via websocket">
                <img class="img-thumb" src="/image/wellinks/wellinks1.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks2.png" data-caption="Real-time patient chat via websocket">
                <img class="img-thumb" src="/image/wellinks/wellinks2.png" alt="Wellinks">
              </a>


              <a href="/image/wellinks/wellinks3.png" data-caption="Record medications taken">
                <img class="img-thumb" src="/image/wellinks/wellinks3.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks4.png" data-caption="Record medications taken">
                <img class="img-thumb" src="/image/wellinks/wellinks4.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks5.png" data-caption="Record medications taken">
                <img class="img-thumb" src="/image/wellinks/wellinks5.png" alt="Wellinks">
              </a>


              <a href="/image/wellinks/wellinks8.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks8.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks9.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks9.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks10.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks10.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/wellinks11.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks11.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks12.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks12.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks13.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks13.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks14.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks14.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks15.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks15.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks16.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks16.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks18.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks18.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks19.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks19.png" alt="Wellinks">
              </a>
              <a href="/image/wellinks/wellinks20.png" data-caption="Capture data from PulseOx BLE peripherals">
                <img class="img-thumb" src="/image/wellinks/wellinks20.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/wellinks21.png" data-caption="Record and track symptoms">
                <img class="img-thumb" src="/image/wellinks/wellinks21.png" alt="Wellinks">
              </a>

            </div>

            <br>
            <center>
              <h3>Wellinks iOS App</h3>
              <h4>Screen-Recordings</h4>
              <br>
            </center>
            <div class="gallery text-center">
              <video id="wellinks_pulse_ox_video" class="video-js vjs-theme-city" controls preload="auto" height="264" poster="/video/pulse_ox_1_poster.jpg" data-setup="{}">
                <source src="/video/pulse_ox_1.mp4" type="video/mp4" />
                <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a
                  web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
              </video>

              <video id="wellinks_pulse_ox_video_2" class="video-js vjs-theme-city" controls preload="auto" height="264" poster="/image/wellinks/wellinks1.png" data-setup="{}">
                <source src="/video/chat.mp4" type="video/mp4" />
                <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a
                  web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
              </video>

              <video id="wellinks_pulse_ox_video_3" class="video-js vjs-theme-city" controls preload="auto" height="264" poster="/image/wellinks/wellinks21.png" data-setup="{}">
                <source src="/video/todo_list.mp4" type="video/mp4" />
                <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a
                  web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
              </video>
            </div>

            <br>
            <center>
            <h3>Backend Rails API Server</h3>
              <h4>Admin Interface</h4>
            </center>

            <div class="gallery">

              <a href="/image/wellinks/platform/platform10.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform10.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform4.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform4.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform5.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform5.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform6.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform6.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform7.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform7.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform8.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform8.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform9.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform9.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform11.png" data-caption="Backend API Server">
                <img class="desktop-screenshot-thumb" src="/image/wellinks/platform/platform11.png" alt="Wellinks">
              </a>

<!--              <a href="/image/wellinks/platform/platform1.png" data-caption="Backend API Server">-->
<!--                <img class="img-thumb" src="/image/wellinks/platform/platform1.png" alt="Wellinks">-->
<!--              </a>-->

              <a href="/image/wellinks/platform/platform2.png" data-caption="Backend API Server">
                <img class="img-thumb" src="/image/wellinks/platform/platform2.png" alt="Wellinks">
              </a>

              <a href="/image/wellinks/platform/platform3.png" data-caption="Backend API Server">
                <img class="img-thumb" src="/image/wellinks/platform/platform3.png" alt="Wellinks">
              </a>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>