pg_upgrade_internal.log
pg_upgrade_server.log
pg_upgrade_utility.log

#   git config --global core.excludesfile '~/.gitignore_global'

# IDE files
.idea/vkaloidis.iml
kaloidis.iml
.idea/
.idea
.idea/workspace.xml
/.idea/
/.idea
/.idea/*

# Mac DS_Store
.DS_Store

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/log
log/
log/*
/tmp
tmp/
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

*.rbc
capybara-*.html
.rspec
/log
/log/*
/tmp
/public/system4
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# Secrets
config/initializers/secret_token.rb
# config/secrets.yml

# dotenv
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv
Gemfile.lock
/.idea/runConfigurations/Production__bluehelmet.xml
/.idea/vkaloidis.iml
/log/development.log
/.idea/runConfigurations/tidbits.xml
/.idea/.rakeTasks
/.idea/vcs.xml
/.idea/modules.xml
/.idea/.generators
/.idea/workspace.xml
/tmp/pids/server.pid
/.idea/runConfigurations/Development__bluehelmet.xml
/public/projects/.DS_Store
.DS_Store
.env