<a class="btn btn-large btn-success"
   href="resume.pdf">
	<i class="fa fa-linux fa-lg"></i>&nbsp;Resume
</a>

<a class="btn btn-success"
   href="http://www.linkedin.com/pub/vasilios-kaloidis/5a/745/982">
	<i class="fa fa-linkedin fa-lg"></i>&nbsp; LinkedIn
</a>

<a class="btn btn-success"
   href="https://github.com/vaskaloidis">
	<i class="fa fa-github fa-lg"></i>&nbsp; GitHub
</a>

<a class="btn btn-success" href="https://gist.github.com/vaskaloidis">
	<i class="fa fa-github-alt fa-lg"></i>&nbsp; Gists </a>

<!-- <button type="submit"
onclick="window.location='http://stackoverflow.com/users/2517480/vaskaloidis'"
class="btn btn-large btn-success"
href="http://stackoverflow.com/users/2517480/vaskaloidis">
				<i class="fa fa-stack-overflow fa-lg"></i>&nbsp; Stack Overflow
</button> -->

<!-- <button type="submit"
onclick="window.location='http://kaloidistech.com'"
class="btn btn-large btn-success"
href="http://kaloidistech.com">
				<img src="./img/Logo_Icon_White.png" />&nbsp; Kaloidis Technologies
</button> -->