<div class="container">

    <div class="row">
        <div class="col-md-6 portfolio-item"></div>
        <i class="fa fa-graduation-cap fa-lg"></i>&nbsp;
        <strong>University of Hartford</strong> - West Hartford, CT<br/>
        <i>B.S Computer Science Program, Degree Expected Fall '16</i>
    </div>
    <div class="col-md-6 portfolio-item">
        <i class="fa fa-terminal fa-lg"></i>&nbsp;
        <strong>Desktop Programming: </strong> <br>
        C++ (and OpenGL), Python, Perl, MIPS, LISP, Prolog, Standard ML (SML)
    </div>
</div>

<div class="row">
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-diamond fa-lg"></i>&nbsp;
            PHP</strong><br>
        PHP5 (and Composer)<br>
        Magento, Drupal, WordPress, CodeIgniter, Laravel
    </div>
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-coffee fa-lg"></i>&nbsp;
            Dev-Ops
        </strong><br>
        Maven, MaestroDev (CI Server), Archiva server, GIT and SVN.
        <br>
        AGILE Development Methodology
    </div>
</div>

<div class="row">
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-cloud fa-lg"></i>&nbsp;
            Web Development</strong><br>
        HTML 5, Bootstrap, Angular<br>
        JavaScript, NodeJS, Ember, Meteor, Ruby on Rails.
    </div>
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-database fa-lg"></i>&nbsp;
            Database
        </strong><br>
        MySql, Oracle, Microsoft SQL and NoSQL
    </div>
</div>

<div class="row">
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-code fa-lg"></i>&nbsp; Java </strong><br>
        Java 8 updates, JavaFX, Junit and TestNG, Java-EE and JAX-WS
        <br>
    </div>
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-database fa-lg"></i>&nbsp;
            OpenHIE
        </strong><br>
        OpenHIM Interpoerability Layer, OpenMRS, iHRIS and Resource Map
    </div>
</div>

<div class="row">
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-server fa-lg"></i>&nbsp;
            Web Services
        </strong><br>
        REST, SOAP, HL7, FHIR
    </div>
    <div class="col-md-6 portfolio-item">
        <strong><i class="fa fa-database fa-lg"></i>&nbsp;
            OpenHIE
        </strong><br>
        OpenHIM Interpoerability Layer, OpenMRS, iHRIS and Resource Map
    </div>
</div>
</div>

<!--<div class="skills row">-->
    <!--<div class="col-md-6 portfolio-item">-->
        <!--<i class="fa fa-linux fa-lg"></i>&nbsp;-->
            <!--<strong>Specialize in Linux </strong> <br>-->
            <!--<i class="fa fa-globe fa-lg"></i>&nbsp;-->
            <!--<strong>Bi-Lingual:</strong> Greek + English<br />-->
    <!--</div>-->
        <!--<div class="col-md-6 portfolio-item">-->
        <!--<div>-->
            <!--interface/main_buttons.php-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->