<table>
  <thead>
  <tr>
    <th align="left">Shortcut</th>
    <th align="left">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td align="left"><em>Cmd-'</em></td>
    <td align="left">"toggleBlockquote"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-B</em></td>
    <td align="left">"toggleBold"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-E</em></td>
    <td align="left">"cleanBlock"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-H</em></td>
    <td align="left">"toggleHeadingSmaller"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-I</em></td>
    <td align="left">"toggleItalic"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-K</em></td>
    <td align="left">"drawLink"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-L</em></td>
    <td align="left">"toggleUnorderedList"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-P</em></td>
    <td align="left">"togglePreview"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-Alt-C</em></td>
    <td align="left">"toggleCodeBlock"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-Alt-I</em></td>
    <td align="left">"drawImage"</td>
  </tr>
  <tr>
    <td align="left"><em>Cmd-Alt-L</em></td>
    <td align="left">"toggleOrderedList"</td>
  </tr>
  <tr>
    <td align="left"><em>Shift-Cmd-H</em></td>
    <td align="left">"toggleHeadingBigger"</td>
  </tr>
  <tr>
    <td align="left"><em>F9</em></td>
    <td align="left">"toggleSideBySide"</td>
  </tr>
  <tr>
    <td align="left"><em>F11</em></td>
    <td align="left">"toggleFullScreen"</td>
  </tr></tbody></table>