<h1>Editing Project</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-xl-10">
      <%= render 'form', project: @project %>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-10">
      <div>
        <% if @project.image_dir != '' %>
          <strong>Project Available Files:</strong>
          <ul>
            <% unless @project.image_dir.nil?
                 album = Rails.root.join('public', 'projects', @project.image_dir)
                 Dir.foreach(album) do |item|
                   next if item == '.' or item == '..' or item == '.DS_Store'     %>
                <li><strong><%= item %></strong></li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <span>Image Directory is not Set</span>
        <% end %>
      </div>
      <div>
        <strong>Preview:</strong><br>
        <% if @project.markdown != true %>

          <p>
          <h4>HTML</h4>
          <div style="border:1px solid black; margin:25px; padding:5px;">
            <%= @project.content.html_safe %>
          </div>
          </p>

        <% else %>

          <p>
          <h4>Markdown</h4>
          <div style="border:1px solid black; margin:25px; padding:5px;">
            <%= convertMarkdown(@project.content).html_safe %>
          </div>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>