development: &default
  database: vkaloidis-dev
  adapter: postgresql
  host: localhost
  encoding: utf8
  min_messages: warning
  pool: 2
  timeout: 5000

development:
  <<: *default
  database: vkaloidis-dev
  username: postgres
  password: postgres

test:
    <<: *default
    database: vkaloidis-test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  database: vkaloidis_production
  username: vkaloidis
  password: <%= ENV['VKALOIDIS_DATABASE_PASSWORD'] %>
